NODE_ENV=development
PORT=5000

DATABASE_HOST=aws-0-ap-southeast-2.pooler.supabase.com
DATABASE_PORT=5432
DATABASE_USERNAME=postgres.xqlkhotkxrsbvkbgmjtv
DATABASE_PASSWORD=your_database_password
DATABASE_NAME=postgres

PASSWORD_ENCRYPTION_KEY=your_encryption_key

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d

# SMS OTP Configuration: Set to 'true' to send live SMS via gateway, 'false' for terminal console logging
ENABLE_OTP_SMS=true
